 /* Estilo para o cabeçalho */
 header .nav-wrapper {
    background-color: #009688;
    /* Cor de fundo verde esmeralda */
}

header .brand-logo {
    font-size: 28px;
    /* Tamanho do título maior */
    color: #fff;
    /* Cor branca para o texto do título */
}

header ul.right a {
    font-size: 18px;
    color: #fff;
}

header ul.right a:hover {
    background-color: #00796b;
    /* Cor mais escura ao passar o mouse */
}

/* Estilos responsivos */
@media (max-width: 992px) {
    header .brand-logo {
        font-size: 24px;
        /* Tamanho menor para telas menores */
    }

    header ul.right a {
        font-size: 16px;
        /* Tamanho menor para telas menores */
    }

}

/* Estilos para dispositivos móveis (celulares) */
@media (max-width: 600px) {
    header .brand-logo {
        font-size: 20px;
    }

    header ul.right a {
        font-size: 14px;
    }
}
